var clicking = false;

 // Rules Glider

  $('#rules-glide').glide({
      type: "slider",
      autoplay: false,
      autoheight: false, 
      default: 1
  });

  // NAVIGATION

  $('[data-section]').on('click', function(){

      var animOpts = {};

      var section = $(this).data('section');
      var direction = $(this).data('direction');

      $('.section.ACTIVE').css({'left': 'auto', 'right': 'auto'});

      animOpts[direction] = '-=4000px'; 
      
      $('.section.ACTIVE').animate( animOpts , 500, function(){

        $(this).toggleClass('ACTIVE');

        $('.section.' + section).fadeIn(function(){
            console.log(section);
            $(this).toggleClass('ACTIVE');
        });
      });

  });

  $('[data-subsection]').on('click', function(){

      var section = $(this).data('subsection');
      $('[data-subsection].active').toggleClass('active');
      $(this).toggleClass('active');
      
      $('.subsection.ACTIVE').hide(function(){

          $('.subsection.' + section).fadeIn(function(){

            console.log(section);

            $('.subsection.ACTIVE').toggleClass('ACTIVE');
            $(this).toggleClass('ACTIVE');

          });
      });

  });

  $('input#back-btn').click(function() {
      console.log("returngin")
      $('.modal-wrap.match.open').fadeOut().removeClass('open');
      $('.modal-group').hide();
  });

// PROFILE 
$('#btn-save-profile').on('click', function(e) {
	e.preventDefault();
	e.bubbles = false;
	e.stopImmediatePropagation();
	e.stopPropagation();

	if (clicking == true)
		return;

		clicking = true;

    if ($('.edit .team-select:selected').length > 0 || $('.edit #username').value ) {
      console.log('changing username/team')
      var data = {
        team: $('.edit .team-select:selected').attr('id'),
        username: $('.edit #username').val()
      };

      console.log(data);

      $.post("/api/update/{{playerId}}", data, function(data){
	      console.log(data)
        // Notify success
        $('.save-msg').text('Nice! Saved.').fadeIn();
        clicking = false;
      })
      .done(function() {
        alert ('success')
      })
      .error(function(err) {
          alert( "error" + err );
      });

    }
  });

  $('#upload_widget_opener').cloudinary_upload_widget(
    { cloud_name: 'esalling', 
      upload_preset: 'wtokgjnv', 
      cropping: 'server', 
      sources: [ 'local', 'url' ], 
      multiple: false, 
      tags: '{{playerId}}'
    }, function(error, result) { 
      console.log(result[0]);

      // Do some stuff with the display
    $.post("/api/update/image_upload/{{playerId}}", { image: result[0] }, function(data){
      
      // Notify success
      $('.save-msg').text('Nice! Saved.').fadeIn();

      // Do some stuff with the display

    })
    .done(function() {
      alert ('success')
    })
    .error(function(err) {
        alert( "error" + err );
    });

});

// Levels

$('[data-level]').on('click', function(e) {

    console.log($(this).data('level'));

    if (playing == false)
      StartLevel($(this).data('level'));

    e.stopPropagation();
    e.bubbles = false;
    e.preventDefault();

});

	function StartLevel(num) {

	    // enable/disable buttons
	    if (num == 2) {
	      $('#compost').attr('disabled', false);
	    } else if (num == 3) {
	      $('#compost').attr('disabled', false);
	      $('#special').attr('disabled', false);
	    }

	    if (num == 1 && ($(".level[data-level=1]").data('tries') == 0 || !$(".level[data-level=1]").data('tries'))) {
	      swipeAlertRight = true;
	      swipeAlertLeft = true;
	      buttonAlertRecycle = true;
	      buttonAlertTrash = true;
	    }

	    if (num == 2 && ($(".level[data-level=2]").data('tries') == 0  || !$(".level[data-level=1]").data('tries'))) {
	      buttonAlertSuper = true;
	    }

	    if (num == 3 && ($(".level[data-level=3]").data('tries') == 0 || !$(".level[data-level=1]").data('tries'))) {
	      buttonAlertSpecial = true;
	    }

	     if ({{player.new}}) {
	      $('.alert .msg').html('<h3>Welcome to Recyclr</h3><p>Remember, you can keep track of your matches as you play using the counter at the top of your screen.</p>');
	      $('.alert img, .alert #alert-continue').show();
	      $('.alert .alert-inner').addClass('new-player');
	      $('.alert').fadeIn();
	    }

	    // Bind close alert button
	    $('#alert-abort, #alert-continue').on('click', function(e){
	       e.stopPropagation();
	      $('.alert').fadeOut(function(){
	        $(this).find('button, img').hide();
	      });
	    });

	    // Fade in the game, out the profile
	    $('.ACTIVE').removeClass('ACTIVE').fadeOut(function(){

	      $('.game').addClass('ACTIVE').fadeIn();
	      playing = true;

	      $('.buttons').show();
	      $('.level.header').show();

	      var data = {
	        level: num, 
	        player: '{{playerId}}'
	      };

	      $.get("/api/game/level", data, function(data){
	        // Notify success
	        $(".game-level").html(data.html);
	        slideheight = ($(window).height()/4)*2.5;
			$('.item:not(.open)').height(slideheight);
	        $('.game-level').fadeIn(function(){
				window.playerId = '{{playerId}}';
	            $.getScript( '/js/level.js' );

	          if ($(this).data('grade') >= 70) {
	            pointlimit = $('.level.ACTIVE').data('grade');
	            console.log(pointlimit);
	          }
	        });

	      });

	    });
	}

