{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}



<div class="section home ACTIVE">

	<button class="btn nav-bar" data-direction="left" id="btn-profile" data-section="profile">Profile</button>

	<button class="btn nav-bar" data-direction="right" id="btn-play" data-section="levels">Play</button>

	<h2>Welcome{{#ifeq player.new false}} back{{/ifeq}}, {{player.name.first}}!</h2>

	{{#ifeq player.admin true}}

		{{>admin}}

	{{else}}

		{{!-- <h3>So far you have {{#if score}}{{score}}{{else}}0{{/if}} leaderboard points!</h3> --}}

		{{> rules}}

	{{/ifeq}}

</div> <!-- .profile -->

<div class="section profile">

	{{>profile}}

</div>

<div class="section leaderboard">

	{{>board}}

</div> {{!-- .leaderboard --}}

<div class="section levels" style="display:none">

	<div class="level-group">

		<button class="btn nav-bar" data-direction="right" id="btn-leader" data-section="leaderboard">Leaderboard</button>

		<button class="minimal" data-level="1">{{#if player.levelOne}}replay {{/if}}level one</button>
		<button class="minimal" data-level="2" {{#if player.levelOne}}{{else}}disabled{{/if}}>{{#if player.levelTwo}}replay {{/if}}level two</button>
		<button class="minimal" data-level="3" {{#if player.levelTwo}}{{else}}disabled{{/if}}>{{#if player.levelThree}}replay {{/if}}level three</button>

		{{#ifeq player.completed true}}

		<button data-level="*">free-for-all</button>

		{{/ifeq}}

		<button class="back nav-bar" data-direction="left" data-section="home">back</button>

	</div>

</div>

<div class="section game" style="display:none">

	<div class="row header level" style="display:none">
		<h2></h2>
		<div id="points-counter">0</div>
	</div>
	
	<div class="game-level" style="display:none"></div>

	<div class="modal special">

		<h3>What special action should be taken on this item?</h3>

		<div class="row">
			{{#each special}}
			<div class="col-xs-6">
				<div class="option" id="{{this.key}}">
					<a class="option-profile">{{{cloudinaryUrl this.image.url width=80}}}</a>
					<h3>{{this.name}}</h3>
					{{{this.text.html}}}
				</div>
			</div>
			{{/each}}
		</div>

	</div>

</div> {{!-- .game --}}
