{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="section profile">

	<h2>Welcome, {{player.name.first}}</h2>

	<h3>So far you have {{score}} points</h3>

	<div class="levels">

		<button data-level="1">{{#if levelOne}}replay{{else}}level one{{/if}}</button>
		<button data-level="2" disabled="{{#if levelOne}}false{{else}}true{{/if}}">{{#if levelTwo}}replay{{else}}level two{{/if}}</button>
		<button data-level="3" disabled="{{#if levelTwo}}false{{else}}true{{/if}}">{{#if levelThree}}replay{{else}}level three{{/if}}</button>

		{{#if completed}}

		<button data-level="*">free-for-all</button>

		{{/if}}

	</div>

</div> <!-- .container-fluid -->

<div class="section game" style="display:none">

	<div class="row header">
		<h2>Recyclr</h2>
		<button class="btn" id="btn-back">Back</button>
	</div>
	
	<section class="row level" data-level="1" id="tinderslide"  style="display:none">
		

		<ul style="height:100%;">
			{{#each items}}
				{{#ifeq this.level 'One'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group">
			{{#each items}}
				{{#ifeq this.level 'One'}}
					{{> match this}}
				{{/ifeq}}
			{{/each}}
		</div>
	</section>
	<section class="row level" data-level="2" id="tinderslide"  style="display:none">
		<div class="row header">
			<h2></h2>
			<div id="points-counter">0</div>
		</div>
		<ul style="height:100%;">
			{{#each items}}
				{{#ifeq this.level 'Two'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group">
			{{#each items}}
				{{#ifeq this.level 'Two'}}
					{{> match this}}
				{{/ifeq}}
			{{/each}}
		</div>
	</section>
	<section class="row level" data-level="3" id="tinderslide"  style="display:none">
		<div class="row header">
			<h2></h2>
			<div id="points-counter">0</div>
		</div>
		<ul style="height:100%;">
			{{#each items}}
				{{#ifeq this.level 'Three'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group">
			{{#each items}}
				{{#ifeq this.level 'Three'}}
					{{> match this}}
				{{/ifeq}}
			{{/each}}
		</div>
	</section>

	<div class="modal special">

		<h3>What special action should be taken on this item?</h3>

		<div class="row">
			{{#each special}}
			<div class="col-xs-6">
				<div class="option" id="{{this.key}}">
					{{{cloudinaryUrl this.image.url width=80}}}
					<h3>{{this.name}}</h3>
					{{{this.text.html}}}
				</div>
			</div>
			{{/each}}
		</div>

	</div>
		
	<div class="buttons">
		<input id="special" disabled="true" class="small submit" type="submit" name="submit" value="">
		<input id="trash" data-keep_enabled="true" data-event="item:trash" class="large submit" type="submit" name="submit" value="">
		<input id="recycle" data-keep_enabled="true" data-event="item:recycle" class="large submit" type="submit" name="submit" value="">
		<input id="compost" disabled="true" data-keep_enabled="true" data-event="item:compost" class="small submit" type="submit" name="submit" value="">
	</div>

</div>