{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="section profile">

	<h2>Welcome, {{player.name.first}}</h2>

	<h3>So far you have {{score}} points</h3>

	<div class="levels">

		<button data-level="1">{{#if levelOne}}replay{{else}}level one{{/if}}</button>
		<button data-level="2">{{#if levelTwo}}replay{{else}}level two{{/if}}</button>
		<button data-level="3">{{#if levelThree}}replay{{else}}level three{{/if}}</button>

		{{#if completed}}

		<button data-level="*">play</button>

		{{/if}}

	</div>

</div> <!-- .container-fluid -->

<div class="section game" style="display:none">

	<div class="row">
		<h2>Single Stream</h2>
	</div>
	<div id="points-counter">0</div>

	<section class="row level" data-level="1" id="tinderslide"  style="display:none">
		<ul style="height:100%;">
			{{#each items}}
				{{#ifeq this.level 'One'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>
	</section>
	<section class="row level" data-level="2" id="tinderslide"  style="display:none">
		<ul style="height:100%;">
			{{#each items}}
				{{#ifeq this.level 'Two'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>
	</section>
	<section class="row level" data-level="3" id="tinderslide"  style="display:none">
		<ul style="height:100%;">
			{{#each items}}
				{{#ifeq this.level 'Three'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>
	</section>
		
	<div class="row buttons">
		<input id="trash" data-keep_enabled="true" data-event="recycle:no" class="submit" type="submit" name="submit" value="trash">
		<input id="recycle" data-keep_enabled="true" data-event="recycle:yes" class="submit" type="submit" name="submit" value="recycle">
	</div>

</div>