<div class="alert-inner">
	<div class='msg'></div>

	<div class="image">
		<p>Unlock levels as you go - high scores get on the leaderboard!</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/grades.png' width='60%'}}}
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/leaderboard.png' width='60%'}}}
		</div>
	</div>
	<div class="image">
		<p>Win points for every item you correctly dispose of and learn where that item should go for next time.</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-match.png' width='40%'}}}
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-wrong.png' wigth='40%'}}}
		</div>
	</div>
	<div class="image">
		<p>Swipe left to trash, right to recycle, and use buttons to compost or send to special disposal.</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-swipe.png' width='80%'}}}
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/game-buttons.png' width='80%'}}}
		</div>
	</div>
	<div class="image">
		<p>Click on images to view item profiles with information and buttons that explain what the materials are.</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-profile.png' height='60%'}}}
		</div>
	</div>
	<div class="image">
		<p>Learn where waste items go at Emerson College with Recyclr!</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495604063/RecycleMe/Config/game-all.png' height='60%'}}}
		</div>
	</div>

	<img style='display:none;' class="img img-points" src="https://res.cloudinary.com/esalling/image/upload/v1495592382/RecycleMe/Config/points-counter.png">
	<img style='display:none;' class="img img-lvl-two" src="/images/super.png">
	<img style='display:none;' class="img img-lvl-three" src="/images/special.png">

	<button class="maximal bottom half left" style="display:none;" id="alert-abort">No</button>
	<button class="maximal bottom half right" style="display:none;" id="alert-confirm">Yes</button>

	<button class="maximal bottom full" style="display:none;" id="alert-continue">Okay</button>

</div>