<div class="alert-inner">
	<div class='msg'></div>

	<div class="image">
		<p>Finish the three tutorial levels before playing the free level for leaderboard points. You can win points for yourself and your selected team.</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/grades.png' width='60%' height='auto'}}}
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/leaderboard.png' width='60%' height='auto'}}}
		</div>
	</div>
	<div class="image">
		<p>Win points for every item you correctly dispose of and learn where that item should go for next time.</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-match.png' width='40%' height='auto'}}}
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-wrong.png' width='40%' height='auto'}}}
		</div>
	</div>
	<div class="image">
		<p>Swipe left to trash, right to recycle, or use the buttons at the bottom of the screen. There are also buttons for composting and special disposal.</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-swipe.png' width='80%' height='auto'}}}
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/game-buttons.png' width='60%' height='auto'}}}
		</div>
	</div>
	<div class="image">
		<p>Click on items to view profiles with a bio and material buttons for more information.</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-profile.png' height='50%' width='auto'}}}
		</div>
	</div>
	<div class="image">
		<p>Learn where waste items go at Emerson College with Recyclr!</p>
		<div class="rule-image">
			{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495604063/RecycleMe/Config/game-all.png' height='50%' width='auto'}}}
		</div>
	</div>

	<img style='display:none;' class="img img-points" src="https://res.cloudinary.com/esalling/image/upload/v1495592382/RecycleMe/Config/points-counter.png">
	<img style='display:none;' class="img img-lvl-two" src="/images/super.png">
	<img style='display:none;' class="img img-lvl-three" src="/images/special.png">

	<button class="maximal bottom half left" style="display:none;" id="alert-abort">No</button>
	<button class="maximal bottom half right" style="display:none;" id="alert-confirm">Yes</button>

	<button class="maximal bottom full" style="display:none;" id="alert-continue">Okay</button>

</div>