<div class="modal-wrap match end">
	<div class="modal-inner match end">

		{{#if passed}}
		<h3>Congratulations! You've passed this level with a {{grade}}!</h3>

		<p>If you want to replay, you can get 1/2 points after your score of {{score}} out of the {{total}} items in this level.</p>

		<button class="minimal btn replay" id="replay-btn">replay</button> 

		{{#ifeq next 4}}
			{{!-- <p>Or, you can move on to the free level to work your way up the leaderboard! </p>

			<button class="minimal btn free-lvl" data-level="{{next}}" id="free-lvl">free play</button> --}}

		{{else}}

			<p>Or, you can move on to the next level! </p>

			<button class="minimal btn next-lvl" data-level="{{next}}" id="next-lvl">next level</button>

		{{/ifeq}}

		{{else}}
		
		<h3>Uh oh! Your score was too low to pass this level...</h3>

		<p>You only got {{score}} out of {{total}} items. But no worries - you can replay as much as you want to get a passing score!</p>

		<button class="minimal btn replay" id="replay-btn">replay</button>

		{{/if}}

		<button onclick="location.reload()" id="back-btn" class="submit minimal btn">back to menu</button>


	</div>
</div>
