<li class="item {{status}} {{#if specialStatus}}{{specialStatus.key}}{{/if}} {{#if specialStatusOr}}{{specialStatusOr.key}}{{/if}}" style="background-image:url('{{{cloudinaryUrl image }}}')">
	<div class="item-pane pane{{@index}}" id="{{item_key}}" >

		<button class="btn-close" style="visibility:hidden">back</button>

		<div class="item-info">

			<h2 class="item-name"><strong>{{name}}</strong></h2>

			<div class="item-bio" style="display:none">
				{{{info.html}}}
				<p><strong>Materials:</strong></p>
				{{#each material}}
					<div class="material minimal-btn">{{name}}</div>
				{{/each}}
			</div>
		</div>

	</div>
</li>
