{{!-- {{{jsonPrint this}}} --}}
{{#ifeq level 'One'}}
	<section class="row level tinderslide" data-level="1" {{#if player.triesOne}}data-tries="{{player.triesOne}}" {{/if}}{{#if player.pointsOneCap}}data-max="{{player.pointsOneCap}}" {{/if}}>

		<ul style="height:100%;">
			{{#each (shuffle items)}}
				{{> item this}}
			{{/each}}
		</ul>

		{{!-- match modals --}}

	</section>

{{/ifeq}}

{{#ifeq level 'Two'}}

	<section class="row level tinderslide" data-level="2" {{#if player.triesTwo}}data-tries="{{player.triesTwo}}"{{/if}} {{#if player.pointsTwoCap}}data-max="{{player.pointsTwoCap}}"{{/if}}>
		
		<ul style="height:100%;">
			{{#each (shuffle items)}}
				{{> item this}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group"></div>

	</section>

{{/ifeq}}

{{#ifeq level 'Three'}}

	<section class="row level tinderslide" data-level="3" {{#if player.triesThree}}data-tries="{{player.triesThree}}"{{/if}} {{#if player.pointsThreeCap}}data-max="{{player.pointsThreeCap}}"{{/if}}>
	
		<ul style="height:100%;">
			{{#each (shuffle items)}}
				{{> item this}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group"></div>

	</section>

	<div class="modal special">

		<h3>What special action should be taken on this item?</h3>

		<div class="row special-options">
			{{#each special}}
			<div class="col-xs-6">
				<div class="option" id="{{this.key}}">
					<a class="option-profile">{{{cloudinaryUrl this.image.url width=80}}}</a>
					<h3>{{this.name}}</h3>
					<div class="profile profile-text hidden">{{{this.text.html}}}</div>
					<div class="profile button-group hidden">
						<input data-keep_enabled="true" data-action="back" class="btn minimal btn-handler submit" type="submit" name="submit" value="back">
						<input data-keep_enabled="true" data-action="select" class="btn minimal btn-handler submit" type="submit" name="submit" value="select">
					</div>
				</div>
			</div>
			{{/each}}
		</div>

		<input data-keep_enabled="true" class="btn minimal btn-handler submit close-special" type="submit" name="submit" value="back">

	</div>

{{/ifeq}}
