{{#ifeq level 'one'}}
	<section class="row level tinderslide" data-level="1" {{#if player.triesOne}}data-tries="{{player.triesOne}}" {{/if}}{{#if player.pointsOneCap}}data-max="{{player.pointsOneCap}}" {{/if}} style="display:none">

		<ul style="height:100%;">
			{{#each (shuffle items)}}
				{{#ifeq this.level 'One'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group">
			{{#each items}}
				{{#ifeq this.level 'One'}}
					{{> match this}}
				{{/ifeq}}
			{{/each}}
		</div>

	</section>

{{/ifeq}}

{{#ifeq level 'two'}}

	<section class="row level tinderslide" data-level="2" {{#if player.triesTwo}}data-tries="{{player.triesTwo}}"{{/if}} {{#if player.pointsTwoCap}}data-max="{{player.pointsTwoCap}}"{{/if}} style="display:none">
		
		<ul style="height:100%;">
			{{#each (shuffle items)}}
				{{#ifeq this.level 'Two'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group">
			{{#each items}}
				{{#ifeq this.level 'Two'}}
					{{> match this}}
				{{/ifeq}}
			{{/each}}
		</div>

	</section>

{{/ifeq}}

{{#ifeq level 'three'}}

	<section class="row level tinderslide" data-level="3" {{#if player.triesThree}}data-tries="{{player.triesThree}}"{{/if}} {{#if player.pointsThreeCap}}data-max="{{player.pointsThreeCap}}"{{/if}} style="display:none">
	
		<ul style="height:100%;">
			{{#each (shuffle items)}}
				{{#ifeq this.level 'Three'}}
					{{> item this}}
				{{/ifeq}}
			{{/each}}
		</ul>

		{{!-- match modals --}}
		<div class="modal-group">
			{{#each items}}
				{{#ifeq this.level 'Three'}}
					{{> match this}}
				{{/ifeq}}
			{{/each}}
		</div>

	</section>
{{/ifeq}}
