<div class="form" id="player-profile">

	<div class="report">

		<h3>Grades: </h3>

		{{!-- {{{jsonPrint player}}} --}}
		
		<div class="grade">
			{{#if player.gradeOne}}
			<div id="lvl-one">{{lettergrade player.gradeOne}}</div>
			{{else}}
			<button class="btn grade-empty" data-section="game">Play Level</button>
			{{/if}}
			Level One

		</div>
		
		<div class="grade">
			{{#if player.gradeTwo}}
			<div id="lvl-one">{{lettergrade player.gradeTwo}}</div>
			{{else}}
			<button class="btn grade-empty" data-section="game">Play Level</button>
			{{/if}}
			Level Two
		</div>
		
		
		<div class="grade">
			{{#if player.gradeThree}}
			<div id="lvl-one">{{lettergrade player.gradeThree}}</div>
			{{else}}
			<button class="btn grade-empty" data-section="game">Play Level</button>
			{{/if}}
			Level Three
		</div>

	</div>

	{{!-- <div class="edit">

		<input type="text" placeholder="optional username" id="username">
		<input type="checkbox" name="username" value="Username"> Hide real name from leaderboard<br>

		<select>
			<option class="team-select" value="Choose a team" {{#if player.team}}{{else}}selected{{/if}}>Select Team</option>
			{{#each teams}}
			<option class="team-select" value="{{this.team}}" {{#ifeq this.team player.team.name}}selected{{/ifeq}}>{{this.team}}</option>
			{{/each}}
		</select>

		<button class="btn" id="btn-save-profile">Save</button>

		<div class="save-msg" style="display: none;"></div>

	</div> --}}

	<button class="back nav-bar left" data-section="home">back</button>

</div>

