<div class="form" id="player-profile">

	<div class="row report">

		<h3>Grades: </h3>

		{{!-- {{{jsonPrint player}}} --}}
		<div class="col-sm-4">
			<div class="grade">
				{{#if player.gradeOne}}
				<div id="lvl-one">{{lettergrade player.gradeOne}}</div>
				<button data-section="game" class="btn replay">Replay</button>
				{{else}}
				<button class="btn grade-empty play" data-section="game">Play Level One</button>
				{{/if}}

			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="grade">
				{{#if player.gradeTwo}}
				<div id="lvl-one">{{lettergrade player.gradeTwo}}</div>
				<button data-section="game" class="btn grade">Replay</button>
				{{else}}
					{{#if player.gradeOne}}
					<button class="btn grade-empty play" data-section="game">Play Level Two</button>
					{{else}}
					<button disabled class="btn grade-empty">Unlock Through Level One</button>
					{{/if}}
				{{/if}}
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="grade">
				{{#if player.gradeThree}}
				<div id="lvl-one">{{lettergrade player.gradeThree}}</div>
				<button data-section="game" class="btn grade">Replay</button>
				{{else}}
					{{#if player.gradeTwo}}
					<button class="btn grade-empty play" data-section="game">Play Level Three</button>
					{{else}}
					<button disabled class="btn grade-empty">Unlock Through Level Two</button>
					{{/if}}
				{{/if}}
			</div>
		</div>

	</div>

	<div class="edit">

		<input type="text" placeholder="optional username" id="username">
		<p>Hide your real name from the leaderboard with a username!</p>

		<select>
			<option class="team-select" value="Choose a team" {{#if player.team}}{{else}}selected{{/if}}>Select Team</option>
			{{#each teams}}
			<option class="team-select" id="{{this._id}}" value="{{this.name}}" {{#ifeq this.name player.team.name}}selected{{/ifeq}}>{{this.name}}</option>
			{{/each}}
		</select>

		<button class="btn minimal" id="btn-save-profile">Save</button>

		<div class="save-msg" style="display: none;"></div>

	</div>

	<button class="back nav-bar left" data-section="home">back</button>

</div>

