<div class="form" id="player-profile">

	<div class="row report">

		<h3>Grades: </h3>

		{{!-- {{{jsonPrint player}}} --}}
		<div class="col-xs-4">
			<div class="grade">
				{{#if player.gradeOne}}
				<div id="lvl-one">{{lettergrade player.gradeOne}}</div>
				<button data-direction="right" data-level="1" class="btn replay">Replay Level One</button>
				{{else}}
				<button class="btn grade-empty play" data-section="game">Play Level One</button>
				{{/if}}
			</div>
		</div>
		
		<div class="col-xs-4">
			<div class="grade">
				{{#if player.gradeTwo}}
				<div id="lvl-two">{{lettergrade player.gradeTwo}}</div>
				<button data-level="2" data-direction="right" class="btn replay">Replay Level Two</button>
				{{else}}
					{{#if ../player.gradeOne}}
					<button class="btn grade-empty play" data-level="2" data-direction="right">Play Level Two</button>
					{{else}}
					<button disabled class="btn grade-empty">Unlock Through Level One</button>
					{{/if}}
				{{/if}}
			</div>
		</div>
		
		<div class="col-xs-4">
			<div class="grade">
				{{#if player.gradeThree}}
				<div id="lvl-three">{{lettergrade player.gradeThree}}</div>
				<button data-level="3" data-direction="right" class="btn replay">Replay Level Three</button>
				{{else}}
					{{#if ../player.gradeTwo}}
					<button class="btn grade-empty play" data-direction="right" data-level="3">Play Level Three</button>
					{{else}}
					<button disabled class="btn grade-empty">Unlock Through Level Two</button>
					{{/if}}
				{{/if}}
			</div>
		</div>

	</div>

	<form class="edit form row" enctype="multipart/form-data">

		<input type="file" class="profile-picture" id="image_upload" name="image_upload" accept="image/*">

		{{!-- <h3>Profile: </h3>
		<div class="update-picture col-xs-6">
			{{#if player.image}}
				<img class="profile-picture" src="{{player.image.url}}">
			{{else}}
				<img class="profile-picture default" src="https://res.cloudinary.com/esalling/image/upload/v1495508839/RecycleMe/default_icon.png">
			{{/if}}

			<div class="image_upload">
				
				<label for="file">Upload Profile Picture</label>
			</div>
		</div>

		<div class="update-info col-xs-6">

			<input type="text" placeholder="{{#if player.username}}{{player.username}}{{else}}optional username{{/if}}" id="username">
			{{#if player.username}}
			<p>You appear on the leaderboard as <span>{{player.username}}</span>.</p>
			{{else}}
			<p>Hide your real name from the leaderboard with a username.</p>
			{{/if}}

			<select id="team">
				<option class="team-select" value="Choose a team"{{#if player.team}}{{else}} selected{{/if}}>Select Team</option>
				{{#each teams}}
				<option class="team-select" id="{{this._id}}" value="{{this.name}}"{{#ifeq this.name ../player.team.name}} selected{{/ifeq}}>{{this.name}}</option>
				{{/each}}
			</select>

		</div> --}}

		<input type='submit' class="btn minimal" id="btn-save-profile" value="save">

		<div class="save-msg" style="display: none;"></div>

	</form>

	<button class="back nav-bar" data-direction="left" data-section="home">back</button>

</div>

