<div class="form" id="player-profile">

	<div class="row report {{#ifeq player.completed true}}complete{{/ifeq}}">

		<h3>Tutorial Levels: </h3>

		<div class="col-xs-4">
			<div class="grade {{#ifeq player.completed true}}complete{{/ifeq}}">
				{{#if player.gradeOne}}
				<div id="lvl-one">{{lettergrade player.gradeOne}}</div>
				<button data-direction="right" data-level="1" class="btn replay">Replay Level One</button>
				{{else}}
				<button class="btn grade-empty play" data-section="game" data-direction="right" data-level="1" >Play Level One</button>
				{{/if}}
			</div>
		</div>
		
		<div class="col-xs-4">
			<div class="grade {{#ifeq player.completed true}}complete{{/ifeq}}">
				{{#if player.gradeTwo}}
				<div id="lvl-two">{{lettergrade player.gradeTwo}}</div>
				<button data-level="2" data-direction="right" class="btn replay">Replay Level Two</button>
				{{else}}
					{{#if ../player.gradeOne}}
					<button class="btn grade-empty play" data-level="2" data-direction="right">Play Level Two</button>
					{{else}}
					<button disabled class="btn grade-empty">Unlock Through Level One</button>
					{{/if}}
				{{/if}}
			</div>
		</div>
		
		<div class="col-xs-4">
			<div class="grade {{#ifeq player.completed true}}complete{{/ifeq}}">
				{{#if player.gradeThree}}
				<div id="lvl-three">{{lettergrade player.gradeThree}}</div>
				<button data-level="3" data-direction="right" class="btn replay">Replay Level Three</button>
				{{else}}
					{{#if ../player.gradeTwo}}
					<button class="btn grade-empty play" data-direction="right" data-level="3">Play Level Three</button>
					{{else}}
					<button disabled class="btn grade-empty">Unlock Through Level Two</button>
					{{/if}}
				{{/if}}
			</div>
		</div>
	</div>

	{{!-- Free Level --}}
	<div class="row free-level {{#ifeq player.completed true}}complete{{/ifeq}}">
		<div class="grade">
			<div>Leaderboard Points: {{player.leader}}</div>
			<button class="btn free-play">Play Speed Level</button>
		</div>
	</div>
	
	<form class="edit form row" action="/api/update/{{player._id}}" method="post" enctype="multipart/form-data">

		<h3>Profile: </h3>
		<div class="update-picture col-sm-6 col-xs-4">
			{{#if player.image.url}}
				<img class="profile-picture" src="{{player.image.url}}">
			{{else}}
				<img class="profile-picture default" src="https://res.cloudinary.com/esalling/image/upload/v1495508839/RecycleMe/default_icon.png">
			{{/if}}

			<div class="image_upload">
				<a href="#" id="upload_widget_opener">Upload Profile Image</a>
			</div>
		</div>

		<div class="update-info col-sm-6 col-xs-8">

			<div class="row">
				{{#if player.username}}
				<p>You appear as "<span id="username-text">{{player.username}}</span>" on the leaderboard.</p>
				{{else}}
				<p>Hide your name from the leaderboard with a username.</p>
				{{/if}}
				<input type="text" placeholder="{{#if player.username}}{{player.username}}{{else}} username{{/if}}" id="username">
			</div>

			<div class="row">
				{{#if player.teams.[0]}}
				<p>You are playing on the "<span id="username-text">{{player.teams.[0].name}}</span>" team.</p>
				{{else}}
				<p>Choose a team to compete with your class!</p>
				{{/if}}

				<select id="team">
					<option class="team-select" value="Choose a team"{{#if player.team}}{{else}} selected{{/if}}>Select Team</option>
					{{#each teams}}
					<option class="team-select" id="{{this._id}}" value="{{this.name}}"{{#ifeq this.name ../player.team.name}} selected{{/ifeq}}>{{this.name}}</option>
					{{/each}}
				</select>
			</div>

		</div>

		<input type='submit' class="btn minimal" id="btn-save-profile" value="save">

		<div class="save-msg" style="display: none;"></div>

	</form>

	<button class="back nav-bar" data-direction="right" data-section="home"></button>

</div>



