<div class="image-glider glide" id="rules-glide">
<h3>Learn how to play below:</h3>
	<div class="glide__wrapper">
	    <ul class="glide__track">
			<li class="image glide__slide">
				<p>Recyclr is all about learning where waste items should go at Emerson College.</p>
				<div class="rule-image">
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495604063/RecycleMe/Config/game-all.png' width='60%'}}}
				</div>
			</li>
			<li class="image glide__slide">
				<p>Click on images to view their profiles.</p>
				<div class="rule-image">
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-profile.png' width='60%'}}}
				</div>
			</li>
			<li class="image glide__slide">
				<p>Swipe left and right or use the buttons to decide where an item should go.</p>
				<div class="rule-image">
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-swipe.png' width='80%'}}}
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/game-buttons.png' width='80%'}}}
				</div>
				<p>Items can be trashed, recycled, composted, or sent to special facilities.</p>

			</li>
			<li class="image glide__slide">
				<p>Gain points for every item you match correctly, and read up on where that item should go for next time.</p>
				<div class="rule-image">
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-match.png' width='40%'}}}
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/item-wrong.png' width='40%'}}}
				</div>
			</li>
			<li class="image glide__slide">
				<p>Unlock levels as you go - high scores get on the leaderboard!</p>
				<div class="rule-image">
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/grades.png' width='80%'}}}
					{{{cloudinaryUrl 'http://res.cloudinary.com/esalling/image/upload/v1495597408/RecycleMe/Config/leaderboard.png' width='60%'}}}
				</div>
			</li>
		</ul>
	</div>

	<div class="glide__arrows">
	    <button class="glide__arrow prev" data-glide-dir="<"><</button>
	    <button class="glide__arrow next" data-glide-dir=">">></button>
	</div>

	<div class="glide__bullets"></div>

</div>


